@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color: white;
}

:root {
  --color-bg: #0d0d0d;
  --color-bg-surface: #161616;
  --color-card-bg: #20343b;

  --color-text: #f0f0f0;
  --color-text-dark: #C2C2C2;
  --color-text-muted: #7A7A7A;

  --color-accent: #48c774;
  --color-border: #333333;

  --color-tag-bg: #1a3a2c;
  --color-tag-text: #a3ddb0;

  --color-nav-bg: #101b21;
  --color-nav-text: #9be3c2;
  --color-nav-hover: #2e8b57;
}

/* Custom utilities */
@layer utilities {
  .code-block {
      counter-reset: line;
  }

  .code-line::before {
      content: counter(line);
      counter-increment: line;
      color: var(--color-text-muted);
      padding-right: 1rem;
      user-select: none;
      width: 2rem;
      text-align: right;
      display: inline-block;
      font-size: 0.75rem;
  }
}

