@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color: white;
}
:root {
  --color-bg: #0d0d0d;           /* Dark slate */
  --color-bg-surface: #161616;           /* Dark slate */
  --color-card-bg: #20343b;      /* Slate blue */
  --color-text: #f0f0f0;         /* Mint green */
  --color-text-dark: #a0a0a0;         /* gray  */
  --color-text-muted: #a0a0a0;   /* Muted gray */
  --color-accent: #48c774;       /* Vibrant but soft green */
  --color-border: #333333;       /* Dark muted */
  --color-tag-bg: #1a3a2c;       /* Dark teal */
  --color-tag-text: #a3ddb0;     /* Light mint */

  --color-nav-bg: #101b21;       /* Very dark navy */
  --color-nav-text: #9be3c2;     /* Mint green */
  --color-nav-hover: #2e8b57;    /* Medium sea green hover */
}


